.logo_box {
    font-size: 24px;
    font-weight: 600;
    padding: 0px 2em;
    position: relative;
}
/* .name{
    padding-right: 1px;
} */
 .logo-img {
    height: 100%;   
    max-height: 60px; 
    width: auto;     
  }

  div.p {
    /* background-color: antiquewhite; */
    width: auto;
    padding: 0px 6em 0px 0px;
}

ul {
    list-style-type: none !important;
  }

/* nav{
    height: 5em;
} */