ul {
    list-style-type: none !important;
  }

.navbar-nav {
    list-style: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
}
  
.nav-item {
    display: inline-block; /* Ensures items align properly */
}
  